{% extends 'header.html' %}
{% load static %}
{% block contenido %}
    <div class="container">
        <div class="container">
            <h4 class = ".text-reset text-center">Registrate con tu correo electrónico</h4>
        </div>
        <div class="container">
            {{form.non_field_errors}}
            <form action = "{% url 'register' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
    
                {% for field in form %}
                <div class="form-group">
                    {{field.errors}}
                    {{field.label_tag}}
                    {{field}}
                    {{field.help_text}}
                </div>
                {% endfor %}
                <input type="submit" value = "Registrame" class="btn btn-primary"> 
            </form>
        </div>
        <br><a href="{% url 'Home' %}">
            <button class = "btn btn-primary">Ya tengo cuenta</button>
        </a> </br>
    </div>
</body>
{% endblock %}